/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper .navbar {
    border-radius: 5px;
}


/* Carousel base class */
.carousel {
    height: 300px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; /* This rescales the image to fit the entire page width */
    height: 300px;
    margin: auto;
}

/* Give enough space on top to avoid the menu */
.content {
    margin-top: 30px;
    padding-bottom: 20px;
}

hr {
    border-width: 1px;
    border-color: black;
}

.code_image {
    margin-top: 4em;
}

/* Don't underline the link in the apply button */
.register-btn:hover {
    text-decoration: none;
}

body {
    margin-top: 50px;
}

.footer {
    /* Positioning stuff */

    text-align: center;
    background-color: #f5f5f5;
}

.awesomplete {
    min-width: 100%;
}
