{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>ACM High School Coding Competition</h1>
    </div>
    <!-- ===================== CONTENT ===================== -->
    {% if current_user.is_authenticated and not current_user.team and current_user.school %}
    <p>Hey! Looks like you aren't on a team yet. Why don't you join one
        <a href="{{ url_for('account.school', id=current_user.school.id) }}">here!</a>
    </p>

    {% endif %}
    <div class="content">
        <div class="row" id="faq">
            <div class="col-xs-10 col-xs-offset-1 content">
                <div class="row row-eq-height">
                    <div class="col-md-5 col-xs-12">
                        <div class="row">
                            <img class="img-responsive img-rounded center-block code_image" src="{{ url_for('static', filename='images/code_image.png') }}" alt="Code Image">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 col-xs-12">
                        <!-- What is the ACM HSCC? -->
                        <div class="row question">
                            <h3>What is the ACM High School Coding Competition?</h3>
                            <p class="col-md-offset-1">The ACM High School Coding Competition is an annual programming competition held at Purdue University.  Purdue's ACM (Association for Computing Machinery) Chapter hosts the competition.  High School Students from around the Midwest come to Purdue to compete.  Teams of two students attempt to solve programming questions in the shortest possible time.  The questions cover a variety of topics and difficulty levels.</p>
                        </div>
                        <!-- <div class="row question">
                            <h3>What kind of prizes are we talking?</h3>
                            <p class="col-md-offset-1">
                            Each team member will receive a prize. Here are the prizes for this year:
                                <dl class="col-md-offset-1">
                                    <dt style=>1st</dt>
                                    <dd>Raspberry Pi 3 Complete Starter Kit</dd>
                                    <dt>2nd</dt>
                                    <dd>Amazon Echo Dot</dd>
                                    <dt>3rd</dt>
                                    <dd>Google Chromecast</dd>
                                </dl>
                            </p>
                        </div> -->
                    </div>
                </div>
                <!-- When is it? -->
                <div class="row question">
                    <h3>When is the competition?</h3>
                    <p class="col-md-offset-1">Saturday April 21, 2018 at Purdue University.</p>
                </div>
                <!-- What do I need to know? -->
                <div class="row question">
                    <h3>What do I need to know?</h3>
                    <p class="col-md-offset-1">We recommend that you are familiar with one of the following programming languages: Java, Python, C/C++, or JavaScript.  Additionally, having a basic knowledge of common algorithms will help tremendously.  Having knowledge in the following areas can't hurt either (hint hint):
                        <ul class="col-md-offset-1">
                            <li>Strings</li>
                            <li>Arrays</li>
                            <li>Math</li>
                            <li>Sorting</li>
                            <li>Simple Graphs</li>
                            <li>Data Structures</li>
                        </ul>
                    </p>
                    <p class="col-md-offset-1">
                        To give an idea of the type of problems we may ask, see last year's problems <a href="{{ url_for('static', filename='other/2016_Problems.pdf') }}">here</a>.  The solutions for these problems can be found <a href="https://github.com/gorel/hscc2016">here</a>.
                    </p>
                </div>
                <!-- What do I need to bring? -->
                <div class="row question">
                    <h3>What do I need to bring?</h3>
                    <p class="col-md-offset-1">You only need to bring yourself and a teammate!  We will be providing the computers and food.  Additionally be sure to have a guardian with you, be it a parent or teacher.</p>
                    <p class="col-md-offset-1">Note: as internet access is allowed for the event, bringing materials, either electronically or in hard copy, is not allowed.</p>
                </div>
                <!-- How much is it? -->
                <div class="row question">
                    <h3>How much is it?</h3>
                    <p class="col-md-offset-1">Thanks to our generous sponsors, this event is completely free!</p>
                </div>
                <!-- Parents -->
                <div class="row question">
                    <h3>Can parents attend?</h3>
                    <p class="col-md-offset-1">Parents are welcome to attend!  We will have ACM students available to answer any questions about Purdue and the CS program.  However, meals will not be provided for parents, but there are plenty of places nearby to get food.  Additionally, parents are not allowed to help their students during the contest.</p>
                </div>
                <!-- Where is it -->
                <div class="row question">
                    <h3>Where is the competition?</h3>
                    <p class="col-md-offset-1">The competition will be held at the Lawson Computer Science building at Purdue University.  The address is:</p>
                    <p class="col-md-offset-2">305 N. University St.<br />West Lafayette, IN</p>
                </div>
                <!-- Travel -->
                <div class="row question">
                    <h3>How do I get to Purdue?</h3>
                    <p class="col-md-offset-1 col-md-5">Unfortunately we do not provide travel to Purdue.  Talk to your school about providing a bus.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.146832662449!2d-86.91916044970094!3d40.42774746279323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8812e2b38f414285%3A0x32bebf50f0d5a064!2sLawson+(Richard+and+Patricia)+Computer+Science+Building%2C+N+University+St%2C+West+Lafayette%2C+IN+47907!5e0!3m2!1sen!2sus!4v1487292921372" class="col-md-5" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <!-- Register -->
                <div class="row question">
                    <h3>Sounds AMAZING, sign me up!</h3>
                    <p class="col-md-offset-1"><a href="{{ url_for('default.register') }}" class="btn-sm btn-info register-btn">Just register here!</a>  We will contact students a few weeks before the event with acceptances/rejections.  We only have space for 70 students, so if more apply not everyone will get in.</p>
                </div>
                <!-- Schedule -->
                <div class="row question">
                    <h3>Tentative Schedule</h3>
                    <p class="col-md-offset-1">
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:00am - 11:30am</span><span class="col-xs-offset-1">Students arrive and check in</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:35am - 11:45am</span><span class="col-xs-offset-1">Intro remarks</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:50am - 12:50pm</span><span class="col-xs-offset-1">Training session + practice problems</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">1:00pm - 1:30pm</span><span class="col-xs-offset-1">Lunch</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">1:45pm - 5:45pm</span><span class="col-xs-offset-1">Competition</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">5:45pm - 6:00pm</span><span class="col-xs-offset-1">Awards</span></div>
                    </p>
                </div>
                <!-- What is ACM? -->
                <div class="row question">
                    <h3>What is ACM?</h3>
                    <p class="col-md-offset-1">The Association for Computing Machinery is a national level organization for Computer Science.  Because Computer Science is such a large field, ACM encompasses many sub-groups.  These groups are called Special Interest Groups, SIGs for short.  Each SIG specializes in a certain area of Computer Science.  Here at Purdue we currently have five SIGs:
                        <ul class="col-md-offset-1">
                            <li>SIGAI: Artificial Intelligence</li>
                            <li>SIGAPP: Applied Computing (Mobile app development)</li>
                            <li>SIGBOTS: Robotics</li>
                            <li>SIGGD: Game Development</li>
                            <li>SIGSAC: Security</li> 
                        </ul>
                    </p>
                </div>
                <!-- Sponsors -->
                <div class="row question">
                    <h3>Who are the sponsors?</h3>
                    <p class="col-md-offset-1">This event would not be possible without our amazing sponsors.  Be sure to keep them in mind when you start college and are looking for internships!  Our sponsors are:
                        <ul class="col-md-offset-1">
                            <li>Allston Trading</li>
                            <li>Purdue Computer Science Department</li>
                        </ul>
                    </p>
                </div>
                <!-- Other questions? -->
                <div class="row question">
                    <h3>Any other questions?</h3>
                    <p class="col-md-offset-1">Feel free to <a href="{{ url_for('default.contact') }}">contact us</a> with any questions!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

