{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>ACM High School Coding Competition</h1>
    </div>
    <!-- ===================== CONTENT ===================== -->
    {% if current_user.is_authenticated and not current_user.team and current_user.school %}
    <p>Hey! Looks like you aren't on a team yet. Why don't you join one
        <a href="{{ url_for('account.school', id=current_user.school.id) }}">here!</a>
    </p>

    {% endif %}
    <div class="content">
        <div class="row" id="faq">
            <div class="col-xs-10 col-xs-offset-1 content">
                <div class="row row-eq-height">
                    <div class="col-md-5 col-xs-12">
                        <div class="row">
                            <img class="img-responsive img-rounded center-block code_image" src="{{ url_for('static', filename='images/code_image.png') }}" alt="Code Image">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 col-xs-12">
                        <!-- What is the ACM HSCC? -->
                        <div class="row question">
                            <h3>What is the ACM High School Coding Competition?</h3>
                            <p class="col-md-offset-1">The ACM High School Coding Competition is a annual programming competition held at Purdue University.  Purdue's ACM (Association for Computing Machinery) Chapter hosts the competition.  High School Students from around the Midwest come to Purdue to compete.  Teams of two students attempt to solve 10 programming questions in the shortest possible time.  The questions cover a variety of topics and difficulty levels.  The best teams take home some sweet prizes.</p>
                        </div>
                        <!-- Prizes -->
                        <div class="row question">
                            <h3>What kind of prizes are we talking?</h3>
                            <p class="col-md-offset-1">
                            Each team member will receive a prize. Here are the prizes we have picked out (Subject to change. We may think of something cooler!):
                                <dl class="col-md-offset-1">
                                    <dt style=>1st</dt>
                                    <dd>Surface 3s</dd>
                                    <dt>2nd</dt>
                                    <dd>Pebble Times</dd>
                                    <dt>3rd</dt>
                                    <dd>Pebble Classics</dd>
                                    <dt>4th</dt>
                                    <dd>Google Chromecasts</dd>
                                    <dt>5th</dt>
                                    <dd>Google Chromecasts</dd>
                                </dl>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- When is it? -->
                <div class="row question">
                    <h3>When is the competition?</h3>
                    <p class="col-md-offset-1">Saturday April 16, 2016 at Purdue University.</p>
                </div>
                <!-- What do I need to know? -->
                <div class="row question">
                    <h3>What do I need to know?</h3>
                    <p class="col-md-offset-1">We recommend that you are familiar with one of the following programming languages: Java, Python, C/C++, or JavaScript.  Additionally having a basic knowledge of common algorithms will help tremendously.  Having knowledge in the following areas can't hurt either (hint hint):
                        <ul class="col-md-offset-1">
                            <li>Strings</li>
                            <li>Arrays</li>
                            <li>Math</li>
                            <li>Sorting</li>
                            <li>Simple Graphs</li>
                            <li>Data Structures</li>
                        </ul>
                    </p>
                </div>
                <!-- What do I need to bring? -->
                <div class="row question">
                    <h3>What do I need to bring?</h3>
                    <p class="col-md-offset-1">You only need to bring yourself and a teammate!  We will be providing the computers and food.</p>
                </div>
                <!-- How much is it? -->
                <div class="row question">
                    <h3>How much is it?</h3>
                    <p class="col-md-offset-1">Thanks to our generous sponsors, this event is completely free!</p>
                </div>
                <!-- Parents -->
                <div class="row question">
                    <h3>Can parents attend?</h3>
                    <p class="col-md-offset-1">Parents are welcome to attend.  We will have some of the Computer Science advisors there to answer any questions about Purdue and the CS program.  However meals will not be provided for parents but there are plenty of places nearby to get food.  Additionally parents are not allowed to help their students with the contest.  That would be cheating.</p>
                </div>
                <!-- Where is it -->
                <div class="row question">
                    <h3>Where is the competition?</h3>
                    <p class="col-md-offset-1">The competition will be held at the Lawson Computer Science building at Purdue University.  The address is:</p>
                    <p class="col-md-offset-2">305 N. University St.<br />West Lafayette, IN</p>
                </div>
                <!-- Travel -->
                <div class="row question">
                    <h3>How do I get to Purdue?</h3>
                    <p class="col-md-offset-1">Unfortunately we do not provide travel to Purdue.  Talk to your school about providing a bus.</p>
                </div>
                <!-- Register -->
                <div class="row question">
                    <h3>Sounds AMAZING, sign me up!</h3>
                    <p class="col-md-offset-1"><a href="{{ url_for('default.register') }}" class="btn-sm btn-info register-btn">Just register here!</a>  We will contact students a few weeks before the event with acceptances/rejections.  We only have space for 70 students so if more apply not everyone will get in.</p>
                    <p class="col-md-offset-1">
                        <b>Registration closes March 15th!</b>
                    </p>
                </div>
                <!-- Schedule -->
                <div class="row question">
                    <h3>Tentative Schedule</h3>
                    <p class="col-md-offset-1">
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:00am - 11:30am</span><span class="col-xs-offset-1">Students arrive and check in</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:35am - 11:45am</span><span class="col-xs-offset-1">Intro remarks</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">11:50am - 12:50pm</span><span class="col-xs-offset-1">Training session + practice problems</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">1:00pm - 1:30pm</span><span class="col-xs-offset-1">Lunch</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">1:45pm - 5:45pm</span><span class="col-xs-offset-1">Competition</span></div>
                        <div class="col-md-offset-1 row"><span class="col-xs-5 col-md-3">5:45pm - 6:00pm</span><span class="col-xs-offset-1">Awards</span></div>
                    </p>
                </div>
                <!-- What is ACM? -->
                <div class="row question">
                    <h3>What is ACM?</h3>
                    <p class="col-md-offset-1">The Association for Computing Machinery is a national level organization for Computer Science.  Because Computer Science is such a large field, ACM encompasses many sub-groups.  These groups are called Special Interest Groups, SIGs for short.  Each SIG specializes in a certain area of Computer Science.  Here at Purdue we currently have five SIGs:
                        <ul class="col-md-offset-1">
                            <li>SIGAI: Artificial Intelligence</li>
                            <li>SIGAPP: Mobile App Development</li>
                            <li>SIGBOTS: Robotics</li>
                            <li>SIGGD: Game Development</li>
                            <li>SIGSAC: Security</li>
                        </ul>
                    </p>
                </div>
                <!-- Sponsors -->
                <div class="row question">
                    <h3>Who are the sponsors?</h3>
                    <p class="col-md-offset-1">This event would not be possible without our amazing sponsors.  Be sure to keep them in mind when you start college and are looking for internships!  Our sponsors are:
                        <ul class="col-md-offset-1">
                            <li>Allston Trading</li>
                            <li>EMC Isilon</li>
                            <li>Facebook</li>
                            <li>Microsoft</li>
                        </ul>
                    </p>
                </div>
                <!-- Other questions? -->
                <div class="row question">
                    <h3>Any other questions?</h3>
                    <p class="col-md-offset-1">Feel free to <a href="contact.html">contact us</a> with any questions.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

