{% extends 'layout.html' %}
{% block body %}
<div class="page-header">
    <h1>Register</h1>
</div>

<div class="col-md-6">
    <form method="POST" action="{{ url_for('default.register') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ form.school_id }}
        <div class="form-group">
            {{ form.name.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.name(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.email(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.confirm_email.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.confirm_email(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.password.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.password(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.confirm_password(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.school_name.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.school_name(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.team_name.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.team_name(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.school_state.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.school_state(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.grade.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.grade(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.shirt_size.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.shirt_size(class='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.allergies_text.label(class='control-label col-sm-4') }}
            <div class="col-sm-8">
                {{ form.allergies_text(class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <b>Note:</b> Registering for this event does not guarantee that you will be accepted.  We will be emailing acceptances closer to the event date.
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

<script>
    var school_name = document.getElementById("school_name");
    school_name = new Awesomplete(school_name, {
        list: [],
        minChars: 1
    });

    var team_name = document.getElementById("team_name");
    team_name = new Awesomplete(team_name, {
        list: [],
        minChars: 1
    });

    $('#school_name').click(function() {
        $.ajax({
            url: "{{ url_for('default.autocomplete_schools') }}",
        }).done(function(data) {
            school_name.list = data['json_list'];
        });
    });

    $('#team_name').click(function() {
        console.log('Load teams from ' + $('#school_name').val());
        $.ajax({
            url: "{{ url_for('default.autocomplete_teams') }}",
            data: {school_name: $('#school_name').val()}
        }).done(function(data) {
            team_name.list = data['json_list'];
        });
    });
</script>

{% endblock %}
