{% extends 'layout.html' %}
{% block body %}
<div class="page-header">
    <h1>Register</h1>
</div>

<div class="col-md-6">
    <form method="POST" action="{{ url_for('default.register') }}" class="form-horizontal">
        {{ form.csrf_token }}
        {{ form.school_id }}
        <div class="form-group">
            <div class="row">
                {{ form.name.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.name(class='form-control') }}
                </div>
            </div>
        </div>
        <div id="emailFormGroup" class="form-group" aria-describedby="emailHelpBlock">
            <div class="row">
                {{ form.email.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.email(class='form-control') }}
                    <span id="emailGlyph" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div id="emailHelpBlock" class="help-block col-sm-8 col-sm-offset-4"></div>
            </div>
        </div>
        <div id="confirmEmailFormGroup"  class="form-group"  aria-describedby="confirmEmailHelpBlock">
            <div class="row">
                {{ form.confirm_email.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.confirm_email(class='form-control') }}
                    <span id="confirmEmailGlyph" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div id="confirmEmailHelpBlock" class="help-block col-sm-8 col-sm-offset-4"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.password.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.password(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.confirm_password.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.confirm_password(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.school_name.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.school_name(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.team_name.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.team_name(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.school_state.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.school_state(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.grade.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.grade(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.shirt_size.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.shirt_size(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.allergies_text.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.allergies_text(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.language.label(class='control-label col-sm-4') }}
                <div class="col-sm-8">
                    {{ form.language(class='form-control') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <b>Note:</b> Registering for this event does not guarantee that you will be accepted.  We will be emailing acceptances closer to the event date.
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>

<script>
    var school_name = document.getElementById("school_name");
    school_name = new Awesomplete(school_name, {
        list: [],
        minChars: 1
    });

    var team_name = document.getElementById("team_name");
    team_name = new Awesomplete(team_name, {
        list: [],
        minChars: 1
    });

    var language = document.getElementById("language");
    language = new Awesomplete(language, {
        list: [],
        minChars: 1
    });

    $('#emailGlyph').hide();
    $('#emailHelpBlock').hide();

    $('#school_name').focus(function() {
        $.ajax({
            url: "{{ url_for('default.autocomplete_schools') }}",
        }).done(function(data) {
            school_name.list = data['json_list'];
        });
    });

    $('#team_name').focus(function() {
        console.log('Load teams from ' + $('#school_name').val());
        $.ajax({
            url: "{{ url_for('default.autocomplete_teams') }}",
            data: {school_name: $('#school_name').val()}
        }).done(function(data) {
            team_name.list = data['json_list'];
        });
    });

    $('#language').focus(function() {
        $.ajax({
            url: "{{ url_for('default.autocomplete_languages') }}",
        }).done(function(data) {
            language.list = data['json_list'];
        });
    });

    $('#email').focusout(function() {
        $.ajax({
            url: "{{ url_for('default.validate_email') }}",
            data: {email: $('#email').val()}
        }).done(function(data) {
            var valid = data['valid'];
            if (valid) {
                $('#emailHelpBlock').text('');
                $('#emailHelpBlock').hide();
                $('#emailGlyph').removeClass('glyphicon-remove');
                $('#emailGlyph').addClass('glyphicon-ok');
                $('#emailGlyph').show();
                $('#emailFormGroup').removeClass('has-error');
                $('#emailFormGroup').addClass('has-success');
                $('#emailFormGroup').addClass('has-feedback');
            } else {
                $('#emailHelpBlock').text(data['error']);
                $('#emailHelpBlock').show();
                $('#emailGlyph').addClass('glyphicon-remove');
                $('#emailGlyph').removeClass('glyphicon-ok');
                $('#emailGlyph').show();
                $('#emailFormGroup').addClass('has-error');
                $('#emailFormGroup').removeClass('has-success');
                $('#emailFormGroup').addClass('has-feedback');
            }
        });
    });

    $('#confirm_email').focusout(function() {
        if ($('#confirm_email').val() !== $('#email').val()) {
            $('#confirmEmailHelpBlock').text('Emails must match');
            $('#confirmEmailHelpBlock').show();
            $('#confirmEmailGlyph').addClass('glyphicon-remove');
            $('#confirmEmailGlyph').removeClass('glyphicon-ok');
            $('#confirmEmailGlyph').show();
            $('#confirmEmailFormGroup').addClass('has-error');
            $('#confirmEmailFormGroup').removeClass('has-success');
            $('#confirmEmailFormGroup').addClass('has-feedback');
        } else {
            $('#confirmEmailHelpBlock').text('');
            $('#confirmEmailHelpBlock').hide();
            $('#confirmEmailGlyph').removeClass('glyphicon-remove');
            $('#confirmEmailGlyph').addClass('glyphicon-ok');
            $('#confirmEmailGlyph').show();
            $('#confirmEmailFormGroup').removeClass('has-error');
            $('#confirmEmailFormGroup').addClass('has-success');
            $('#confirmEmailFormGroup').addClass('has-feedback');
        }
    });

</script>

{% endblock %}
