{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>My Account</h1>
  </div>

  <form method="POST">
      {{ form.csrf_token }}
  <div class="row col-md-6 col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ current_user.name }}
        </h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <table class="table table-user-info">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{ current_user.name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ current_user.email }}</td>
                </tr>
                <tr>
                  <td>School</td>
                  <td>
                    {% if current_user.school %}
                      <a href="{{ url_for('account.school', id=current_user.school.id) }}">
                        {{ current_user.school.name }}
                      </a>
                    {% else %}
                      <small>None</small>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>
                    {% if current_user.school %}
                      {{ current_user.school.state_name }}
                    {% else %}
                      <small>None</small>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Team</td>
                  <td>
                    {% if current_user.team %}
                      <a href="{{ url_for('account.team', id=current_user.team.id) }}">
                        {{ current_user.team.name }}
                      </a>
                    {% else %}
                      <small>None</small>
                      {% if current_user.school %}
                        <a href="{{ url_for('account.teams', school_id=current_user.school.id) }}">
                          Join a team now!
                        </a>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Grade</td>
                  <td>{{ form.grade(class='form-control') }}</td>
                </tr>
                <tr>
                  <td>Preferred Language</td>
                  <td>{{ form.language(class='form-control', placeholder=lang) }}</td>
                </tr>
                <tr>
                  <td>Shirt Size</td>
                  <td>{{ form.shirt_size(class='form-control') }}</td>
                </tr>
                <tr>
                  <td>Allergies</td>
                  <td>{{ form.allergies_text(class='form-control') }}</td>
                </tr>
                {% if current_user.is_admin %}
                  <tr>
                    <td colspan="2"><font color="red">Admin Account</font></td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <a href="{{ url_for('account.home') }}" class="btn btn-warning">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit Changes</button>
  </div>
  </form>

  <script>
      var language = document.getElementById("language");
      language = new Awesomplete(language, {
          list: [],
          minChars: 1
      });

      $('#language').focus(function() {
          $.ajax({
              url: "{{ url_for('default.autocomplete_languages') }}",
          }).done(function(data) {
              language.list = data['json_list'];
          });
      });
  </script>
{% endblock %}
