{% extends 'layout.html' %}
{% block body %}

<div class="page-header">
    <h1>{{ school.name }} ({{ school.state_name }})</h1>
</div>

<div class="content">
    <h2>Team List</h2>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th># Students</th>
        </thead>

        <tbody>
            {% for team in school.teams %}
            <tr>
                <td>
                    <a href="{{ url_for('account.team', id=team.id) }}">{{ team.name }}</td>
                <td>
                    {{ team.users|length }} / 2
                    {% if team.users|length == 2 %}
                        <b>(Full)</b>
                    {% endif %}
                </td>
                {% if team.users|length < 2 and current_user.school.id == team.school.id and current_user.team_id != team.id%}
                    <td>
                        <a class="btn btn-primary " href="{{ url_for('account.join_team', id=team.id) }}">
                            Join Team
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Student List</h2>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Team</th>
            <th>Grade</th>
            {% if current_user.is_admin %}
                <th>Shirt Size</th>
                <th>Allergies?</th>
            {% endif %}
        </thead>

        <tbody>
            {% for student in school.students %}
            <tr>
                <td>{{ student.name }}</td>
                {% if student.team %}
                    <td><a href="{{ url_for('account.team', id=student.team.id) }}">{{ student.team.name }}</a></td>
                {% else %}
                    <td><small>None</small></td>
                {% endif %}
                <td>{{ student.grade_name }}</td>
                {% if current_user.is_admin %}
                    <td>{{ student.shirt_size_name }}</td>
                    {% if student.allergies.text %}
                        <td>YES</td>
                    {% else %}
                        <td>NO</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
