{% extends 'layout.html' %}
{% block body %}

<div class="page-header">
    <h1>Registered Teams</h1>
</div>

<div class="content">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>School</th>
            <th>State</th>
            <th># Students</th>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td><a href="{{ url_for('account.team', id=team.id) }}">{{ team.name }}</a></td>
                <td><a href="{{ url_for('account.school', id=team.school.id) }}">{{ team.school.name }}</a></td>
                <td>{{ team.school.state_name }}</td>
                {% if team.users|length == 2 %}
                    <td><b>FULL</b></td>
                {% else %}
                    <td>{{ team.users|length }} / 2</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
